<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PneumaticTube" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="cmpB46DCD8F000528AB049D2D7B36090807" Directory="PneumaticTube" Guid="*">
                <File Id="filE93BBFD8C1B12824FC0D85704D7D8E1C" KeyPath="yes" Source="$(var.PneumaticTube.TargetDir)\CommandLine.dll" />
            </Component>
            
            <Component Id="cmpFCAEF98482CF303098B3DFDE0EEC87AF" Directory="PneumaticTube" Guid="*">
                <File Id="fil72C1AEDB73A6B57342B80F732136B265" KeyPath="yes" Source="$(var.PneumaticTube.TargetDir)\DropNet.dll" />
            </Component>
            <Component Id="cmpE4CEFEC62AA4A7E87DF4A8E7F34146C6" Directory="PneumaticTube" Guid="*">
                <File Id="fil2761AADA77C4DFA2E33A7CBE464BFE90" KeyPath="yes" Source="$(var.PneumaticTube.TargetDir)\PneumaticTube.exe" />
            </Component>
            <Component Id="cmp67EDA2B6F8B46F9CBCD5B22D2B2B2F95" Directory="PneumaticTube" Guid="*">
                <File Id="fil7131842B0D2975A5BB5062C4F1230C6B" KeyPath="yes" Source="$(var.PneumaticTube.TargetDir)\PneumaticTube.exe.config" />
            </Component>
            
            <Component Id="cmp8499FC0EAA5E0B5DA83BDECBFB62E6BD" Directory="PneumaticTube" Guid="*">
                <File Id="filC4E1F031011EAB0F26818627E5B55397" KeyPath="yes" Source="$(var.PneumaticTube.TargetDir)\RestSharp.dll" />
            </Component>
            
        </ComponentGroup>
    </Fragment>
</Wix>